*, *:before, *:after{
	box-sizing: border-box;
}

body {
	margin: 0;
}

html{
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

.main	{
	min-height: 600px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header{
	width: 90%;
	display: flex;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
}

.menu{
	width: 60%;
	font-size: 1.5rem;
	font-weight: 800;
}	
.menu-color{	
	color: #635c73;
}

.button{
	transition: .3s;
	color: #fff;
	background-color: #8d81ac;
	padding: 9px 37px;
	border-radius: 90px;
}

.menu ul{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #473333;
	font-size: 3rem;
	font-weight: 800;
}

.logo span{
	color: #A285A9;
}

.logo img{
	margin: 5px;
}

.main-app {
	background: url(./img/bg-1.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	width: 100%;
	min-height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.main-app h1{
	color: #fff;
	font-size: 6rem;
	font-weight: bold;
	margin-top: 6rem;
	font-family: Montserrat-bold, sans serif;
}

.main-app p{
	color: #8d81ac;
	font-size: 3rem;
}

.main-app span{
	color: #848e97;
	font-size: 2rem;
}

.main-button{
	width: 90%;
	display: flex;
	flex-direction: column;
	height: 10vh;
	justify-content: space-around;
	align-items: center;
}

.main-button p{
	color: gray;
	font-size: 1.5rem;
}

.down-btn {
  transition: .3s;
  color: #fff;
  background-color: #8d81ac;
  padding: 9px 37px;
  border-radius: 90px;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -2.2rem;
  z-index: 2;
  border: aliceblue;
}
.revolutionary-editor{
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.revolutionary-editor h2{
	font-size: 4rem;
	color: #635c73;
	font-family: Montserrat-bold, sans serif;
	text-transform: uppercase;
	margin: 5px;
}

.revolutionary-editor p{
	font-size: 1.4rem;
	color: gray;
	font-family: Montserrat-bold, sans serif;
}

.here-is{
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
}

.here-is-content{
	width: 80%;
	display: flex;
	justify-content: center;
	max-height: 700px;
}

.img-shadow{
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.web-better{
	width: 50%;
}

.here-is-what{
	width: 50%;
}

.get{
	display: flex;
	margin: 3rem;
	align-items: center;
}

.get-image{
	width: 111px;
}

.get-text{
	width: 80%;
	display: flex;
	flex-direction: column;
}

.get-text h5{
	font-size: 1.2rem;
}

.here-is-what p{
	font-size: 4rem;
	font-family: Montserrat-bold, sans serif;
	color: #8d81ac;
}

.steven{
	min-height: 350px;
}

