*, *:before, *:after{
	box-sizing: border-box;
}

body {
	margin: 0;
}

html{
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

.main	{
	min-height: 600px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header{
	width: 90%;
	display: flex;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	min-height: 70px
}

.menu{
	width: 60%;
	font-size: 1.5rem;
	font-weight: 800;
}	
.menu-color{	
	color: #635c73;
}

.button{
	transition: .3s;
	color: #fff;
	background-color: #8d81ac;
	padding: 9px 37px;
	border-radius: 90px;
}

.menu ul{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #473333;
	font-size: 3rem;
	font-weight: 800;
}

.logo span{
	color: #A285A9;
}

.logo img{
	margin: 5px;
}

.main-app {
	background: url(./img/bg-1.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	width: 100%;
	min-height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.main-app h1{
	color: #fff;
	font-size: 6rem;
	font-weight: bold;
	margin-top: 6rem;
	font-family: Montserrat-bold, sans serif;
}

.main-app p{
	color: #8d81ac;
	font-size: 3rem;
}

.main-app span{
	color: #848e97;
	font-size: 2rem;
}

.main-button{
	width: 90%;
	display: flex;
	flex-direction: column;
	height: 10vh;
	justify-content: space-around;
	align-items: center;
}

.main-button p{
	color: gray;
	font-size: 1.5rem;
}

.down-btn {
  transition: .3s;
  color: #fff;
  background-color: #8d81ac;
  padding: 9px 37px;
  border-radius: 90px;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -2.2rem;
  z-index: 2;
  border: aliceblue;
}
.revolutionary-editor{
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.revolutionary-editor h2{
	font-size: 4rem;
	color: #635c73;
	font-family: Montserrat-bold, sans serif;
	text-transform: uppercase;
	margin: 5px;
}

.revolutionary-editor p{
	font-size: 1.4rem;
	color: gray;
	font-family: Montserrat-bold, sans serif;
}

.here-is{
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
}

.here-is-content{
	width: 80%;
	display: flex;
	justify-content: center;
	max-height: 700px;
}

.img-shadow{
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.web-better{
	width: 50%;
}

.here-is-what{
	width: 50%;
}

.get{
	display: flex;
	margin: 3rem;
	align-items: center;
}

.get-image{
	width: 111px;
}

.get-text{
	width: 80%;
	display: flex;
	flex-direction: column;
}

.get-text h5{
	font-size: 1.2rem;
}

.here-is-what p{
	font-size: 4rem;
	font-family: Montserrat-bold, sans serif;
	color: #8d81ac;
}

.steven{
  min-height: 350px;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.steven-header{
	display: flex;

}

.steven-logo{
	margin-right: 2rem;
}
.steven-text{
	font-size: 2rem;
}

.steven-text p{
	font-size: 1.4rem;
	color: #8d81ac;
}

.steven-slider{
    font-size: 1.8rem;
    text-align: center;
    width: 60%;
    margin-top: 4rem;
    margin-bottom: 6rem;
    display: flex;
	justify-content: space-between;
}
.slides_container{
	width: 100%;
}

#slides{
		display: flex;
	  position: relative;
    height: 100px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
	  position: absolute;
    left: 0px;
    top: 0px;
    width: 60%;
    height: 100%;
    opacity: 0;
    z-index: 1;
 
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.controls{
	border: aliceblue;
	background-color: #fff;
	font-size: 3rem;
	color: darkgray;
}

.showing {
	opacity: 1;
	z-index: 2;
	display: flex;
	justify-content: center;
	width: 100%;
}

.slider-item{
	text-align: center;
	width: 70%;
}

.steven-slider span{
	color: #8d81ac;
}

.steven-slider p{
	color: #8d81ac;
}

.steven-social{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.social-item{
	display: flex;
  flex-direction: column;
}

.steven-social{
	margin-bottom: 4rem;
}

.social-item {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

.button-github{
	background-color: rgb(243, 243, 243);
	width: 240px;
	height: 50px;
	z-index: 218;
	border: aliceblue;
	border-radius: 5px;
}

.button-twitter{
	background-color: #26a6d1;
	width: 240px;
	height: 50px;
	z-index: 218;
	border: aliceblue;
	border-radius: 5px;
	color: #fff;
}

.button-facebook{
	background-color: #3b5998;
	width: 240px;
	height: 50px;
	z-index: 218;
	border: aliceblue;
	border-radius: 5px;
	color: #fff;
}

.people{
	background: url(./img/bg-2.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.people-header{
	font-size: 4rem;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	font-weight: bold;
	min-height: 15rem;
	text-align: center;
	padding: 2rem;
}

.people-text{
	min-height: 40rem;
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.people-item{
	width: 400px;
}
.fork{
	background-color: #4a3b4e;
	justify-content: space-between;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 600px;
}

.fork header{
	font-size: 4rem;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
}

.fork-content{
	display: flex;
	justify-content: space-around;
}

.fork-item{
	width: 300px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.fork-item p{
	font-size: 2rem;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	padding: 10px;
}

.item-head{
  background-color: rgb(255, 255, 255);
  opacity: 0.059;
  position: absolute;
  z-index: 154;


}

.fork-item span{
	
}