@media(max-width: 999px) {
    .menu {
    	display: none;
    }
    .here-is-content{
    	flex-wrap: wrap;
    }
		.here-is-what{
			display: none;
		}
		.get{
			width: 90%;
			margin: 0px;
		}
		.slider-item{
			width: 100%;
		}
		.steven-social{
			flex-direction: column;
			margin-top: 4rem;
		}
		.steven-slider{
			width: 100%
		}
		.slide{
			width: 100%;
		}
		.social-item{
			margin: 2rem;
		}
		.fork-content{
			flex-wrap: wrap;
		}
		.subscribe{
			flex-wrap: wrap;
		}
		.new-container{
			flex-wrap: wrap;
		}
		.footer{
			flex-wrap: wrap;
		}
		.menu__btn > span,
		.menu__btn > span::before,
		.menu__btn > span::after {
			display: block;
		  position: absolute;
		  width: 100%;
		  height: 2px;
		  background-color: #616161;
		  transition-duration: .25s;
		}
		}
		.menu__btn > span::before {
		  content: '';
		  top: -8px;
		}
		.menu__btn > span::after {
		  content: '';
		  top: 8px;
		}
		#menu__toggle {
		  opacity: 0;
		}

		#menu__toggle:checked ~ .menu__btn > span {
		  transform: rotate(45deg);
		}
		#menu__toggle:checked ~ .menu__btn > span::before {
		  top: 0;
		  transform: rotate(0);
		}
		#menu__toggle:checked ~ .menu__btn > span::after {
		  top: 0;
		  transform: rotate(90deg);
		}
		#menu__toggle:checked ~ .menu__box {
		  visibility: visible;
		  left: 0;
		  z-index: 1;
		}

		.menu__btn {
		  display: flex;
		  align-items: center;
		  position: relative;

		  left: 20px;

		  width: 26px;
		  height: 26px;

		  cursor: pointer;
		  z-index: 1;
		}

}

  





.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: none;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}






*, *:before, *:after{
	box-sizing: border-box;
}

body {
	margin: 0;
}

html{
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

.main	{
	min-height: 600px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header{
	width: 90%;
	display: flex;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	min-height: 70px
}

.menu{
	width: 60%;
	font-size: 1.5rem;
	font-weight: 800;
}	
.menu-color{	
	color: #635c73;
}

.button{
	transition: .3s;
	color: #fff;
	background-color: #8d81ac;
	padding: 9px 37px;
	border-radius: 90px;
}

.menu ul{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #473333;
	font-size: 3rem;
	font-weight: 800;
}

.logo span{
	color: #A285A9;
}

.logo img{
	margin: 5px;
}

.main-app {
	background: url(./img/bg-1.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	width: 100%;
	min-height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.main-app h1{
	color: #fff;
	font-size: 6rem;
	font-weight: bold;
	margin-top: 6rem;
	font-family: Montserrat-bold, sans serif;
}

.main-app p{
	color: #8d81ac;
	font-size: 3rem;
}

.main-app span{
	color: #848e97;
	font-size: 2rem;
}

.main-button{
	width: 90%;
	display: flex;
	flex-direction: column;
	height: 10vh;
	justify-content: space-around;
	align-items: center;
}

.main-button p{
	color: gray;
	font-size: 1.5rem;
}

.down-btn {
  transition: .3s;
  color: #fff;
  background-color: #8d81ac;
  padding: 9px 37px;
  border-radius: 90px;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -2.2rem;
  z-index: 2;
  border: aliceblue;
}
.revolutionary-editor{
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.revolutionary-editor h2{
	font-size: 4rem;
	color: #635c73;
	font-family: Montserrat-bold, sans serif;
	text-transform: uppercase;
	margin: 5px;
}

.revolutionary-editor p{
	font-size: 1.4rem;
	color: gray;
	font-family: Montserrat-bold, sans serif;
}

.here-is{
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
}

.here-is-content{
	width: 80%;
	display: flex;
	justify-content: center;
	min-height: 700px;
}

.img-shadow{
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.web-better{
	width: 50%;
}

.here-is-what{
	width: 50%;
}

.get{
	display: flex;
	margin: 3rem;
	align-items: center;
}

.get-image{
	width: 111px;
}

.get-text{
	width: 80%;
	display: flex;
	flex-direction: column;
}

.get-text h5{
	font-size: 1.2rem;
}

.here-is-what p{
	font-size: 4rem;
	font-family: Montserrat-bold, sans serif;
	color: #8d81ac;
}

.steven{
  min-height: 350px;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.steven-header{
	display: flex;

}

.steven-logo{
	margin-right: 2rem;
}
.steven-text{
	font-size: 2rem;
}

.steven-text p{
	font-size: 1.4rem;
	color: #8d81ac;
}

.steven-slider{
    font-size: 1.8rem;
    text-align: center;
    width: 90%;
    margin-top: 4rem;
    margin-bottom: 6rem;
    display: flex;
	justify-content: space-between;
}
.slides_container{
	width: 100%;
}

#slides{
		display: flex;
	  position: relative;
    height: 100px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
	  position: absolute;
    left: 0px;
    top: 0px;
    width: 80%;
    height: 100%;
    opacity: 0;
    z-index: 1;
 
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.controls{
	border: aliceblue;
	background-color: #fff;
	font-size: 3rem;
	color: darkgray;
}

.showing {
	opacity: 1;
	z-index: 2;
	display: flex;
	justify-content: center;
	width: 100%;
}

.slider-item{
	text-align: center;
	width: 70%;
}

.steven-slider span{
	color: #8d81ac;
}

.steven-slider p{
	color: #8d81ac;
}

.steven-social{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.social-item{
	display: flex;
  flex-direction: column;
}

.steven-social{
	margin-bottom: 4rem;
}

.social-item {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

.button-github{
	background-color: rgb(243, 243, 243);
	width: 240px;
	height: 50px;
	z-index: 218;
	border: aliceblue;
	border-radius: 5px;
}

.button-twitter{
	background-color: #26a6d1;
	width: 240px;
	height: 50px;
	z-index: 218;
	border: aliceblue;
	border-radius: 5px;
	color: #fff;
}

.button-facebook{
	background-color: #3b5998;
	width: 240px;
	height: 50px;
	z-index: 218;
	border: aliceblue;
	border-radius: 5px;
	color: #fff;
}

.people{
	background: url(./img/bg-2.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.people-header{
	font-size: 4rem;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	font-weight: bold;
	min-height: 15rem;
	text-align: center;
	padding: 2rem;
}

.people-text{
	min-height: 40rem;
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.people-item{
	width: 400px;
}
.fork{
	background-color: #4a3b4e;
	justify-content: space-between;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 600px;
}

.fork header{
	font-size: 4rem;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
}

.fork-content{
	display: flex;
	justify-content: space-around;
}

.fork-item{
	width: 250px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
	background-color: rgb(255, 255, 255, 0.1);
}

.fork-item p{
	font-size: 2rem;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	padding: 10px;
}

.item-head{
  background-color: rgb(255, 255, 255, 0.1);
  width: 100%;
	text-align: center;
}

.price{
  font-size: 4rem;
  font-weight: bold;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.5;
}

.fork-item hr{
	color: #8d81ac;
	border: none;
	background-color: #8d81ac;
	height: 3px;
	z-index: 1;
	width: 26%;
}

.fork-item button{
	margin-bottom: 2rem;
	text-transform: uppercase;
	border: none;
	height: 35px;
	width: 151px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.4);
	color: #fff;
	font-size: 1.5rem;
}

.period{
	color: gray;
	font-size: 1.4rem;
}

.lisence{
	font-size: 1.6rem;
}

.fork-footer{
	font-size: 1.2rem;
	color: lightgray;
	min-height: 20rem;
	display: flex;
	align-items: center;
	width: 50%;
	text-align: center;
}

.subscribe{
	min-height: 10rem;
	background-color: #f4f4f4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sub-header{
	color: #635c73;
	font-size: 3rem;
	font-weight: bold;
	margin-right: 3rem;	
}

.sub-form button{
	text-transform: uppercase;
	border: none;
	height: 35px;
	width: 151px;
	border-radius: 15px;
	background-color: #635c73;
	color: #fff;
	font-size: 1.3rem;
}

.sub-form input{
	margin-right: 2rem;
	border: none;
	height: 35px;
	width: 151px;
	border-radius: 15px;
	background-color: #fff;
	color: gray;
	font-size: 1.3rem;
	padding: 4px;
}

.new{
	display: flex;
	justify-content: center;
}

.new-container{
	display: flex;
	width: 80%;
	justify-content: space-around;
	margin-bottom: 3rem;
	margin-top: 5rem;
}

.new-item{
	width: 300px;
	display: flex;
	flex-direction: column;
	min-height: 30rem;
}

.new-item-header{
	color: gray;
	font-size: 2rem;
	font-weight: bold;
}

.new-item-text p{
	color: #8d81ac;
	font-size: 1.2rem;
	font-weight: bold;
}

.new-item button{
	margin-top: 15px;
	border: none;
	height: 35px;
	width: 151px;
	border-radius: 5px;
	background-color: #f4f4f4;
	color: #635c73;
	font-size: 1.3rem;
}

footer{
	display: flex;
	justify-content: center;
}

.footer{
	display: flex;
	width: 80%;
	justify-content: space-around;
}

.footer-item{
	width: 250px;
	padding: 25px;
}

.footer-head{
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

.footer-content{
 color: #848e97;
}

.footer-tel{
	font-size: 2rem;
	font-weight: bold;	
}

.footer-menu{
	color: #8d81ac;
}
